
{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div>
        <p>Bienvenue sur la page d'administration!</p>
        <p>Accédez à la <a href="{{ path('admin') }}">page d'administration</a>.</p>
    </div>
{% endblock %}
